.title1 {
  background-color: rgb(55, 95, 95);
  color: white;
  text-align: center;
  font-family:sans-serif;
  font-size:25px;

.login {
  background-color: rgb(136, 111, 57);
  

}

button {
 
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
}