.title1 {
  background-color: rgb(55, 95, 95);
  color: white;
  text-align: center;
  font-family:sans-serif;
  
}
.login1 {
  background-color: rgb(136, 111, 57);
  

}

button {
  background-color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;

}