
.all{
  width: 1020px;
  text-align: center;
  border : 3px solid navy;
  margin : auto;
}

.title1 {
  width: 1020px;
  background-color: rgb(55, 95, 95);
  color: white;
  text-align: center;
  font-family:sans-serif;
  
}
@keyframes sliding_title{
  from { width: 140%; margin-left: +1020px;} 
  to {width: 100%;}
}


#title1_animation {
  font-size: 40px;
  text-align: center;
  animation-duration: 2s;
  animation-name: sliding_title;
  margin: 0px 0px 0px 0px;
}

.navi{
  border: 2px solid red;
  margin: 30px 30px 30px 30px;
  padding: 20px;
}
button {
  width: 80px;
  background-color: rgb(130, 196, 44);
  border: none;
  font-size: 11px;
  font-weight: normal;
  font-family: 'Malgun Gothic';

}

.shop{
  border: 2px solid red;
  margin: 30px 30px 30px 30px;
  padding: 20px;
}

.imgbox{
  border: 2px solid purple;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;

}
.myimg{
  width:100px;
  height:100px;
}

#myimg1{
  margin: 100px;
  transition: transform 2s;
}


#myimg1:hover{
  transform: rotate(360deg);
}


